@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row border p-1">
        <h3>Rock, paper, scissor competition!</h3>
        <div class="col-4">
            <div> Rock: <span id="RockCounter"></span></div>
        </div>
        <div class="col-4">
            <div> Paper: <span id="PaperCounter"></span></div>
        </div>
        <div class="col-4">
            <div> Scissor: <span id="ScissorCounter"></span></div>
        </div>
        <hr />
        <p>Url to Vote:</p>
        <a href="https://localhost:7001/Home/RockPaperScissorRace?vote=Rock">Rock</a>
        <a href="https://localhost:7001/Home/RockPaperScissorRace?vote=Paper">Paper</a>
        <a href="https://localhost:7001/Home/RockPaperScissorRace?vote=Scissor">Scissor</a>
    </div>
        <div class="row bg-lightGreen">
            <div class="col-3">Total views: </div>
            <div class="col-4">
                <span id="totalViewsContainer"> </span>
            </div>
        </div>
    <div class="row bg-lightGreen ">
        <div class="col-3">Total online users: </div>
        <div class="col-4">
            <span id="totalUsersContainer"> </span>
        </div>
    </div>
</div>
<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>
<script src="~/js/rockPaperScissor.js"></script>